<header>
  <h1>todos</h1>
</header>

<div class="container center">
  <div ng-controller="MainCtrl">
    <form name="createTodo" ng-submit="createTodo.$valid && save(newTodo)">
      <input class="create-todo-input" type="text" autofocus ng-model="newTodo.title" placeholder="What needs to be done ?" required>
    </form>

    <div class="todo-container" ng-repeat="todo in todos | filter:statusFilter">
      <form name="updateTodo" class="todo-form">
        <input type="checkbox" ng-click="toggleChecked(todo)" ng-checked="todo.completed">
        <label ng-hide="isActive(todo)" ng-dblclick="setActiveTodo(todo);">{{todo.title}}</label>
        <input class="input-active"  show-focus="isActive(todo);" ng-show="isActive(todo);" ng-model="activeTodo.title" type="text" required ng-escape="resetChanges(activeTodo)" ng-enter="updateTodo.$valid && update(activeTodo)">
        <a href class="delete-link" ng-click="delete(todo)">&times;</a>
      </form>
    </div>

    <div class="actions">
      <a href ng-click="setStatus('all')">all</a>
      <a href ng-click="setStatus('active')">active</a>
      <a href ng-click="setStatus('completed')">completed</a>
    </div>

  </div>
</div>
